In [1]:
# %cd /Users/qook/Coding/FinML

/Users/qook/Coding/FinML

In [2]:
# Import basic packages
# import os
# from datetime import datetime
# # Import a module for data retrieval
# from finml.data_reader import GetInitData

In [94]:
# %cd /Users/qook/Coding/Finance_ML

/Users/qook/Coding/Finance_ML

In [4]:
# kor_market = GetInitData(source='krx', data_path = 'data')
# kor_market.get_tickers() # Get a list of stock tickers
# kor_market.get_prices_and_volumes(start=datetime(2010,1,1), # Get price information (for all stocks)
#                       end=datetime.now()) 
# kor_market.get_fs() # Get financial statements (for all stocks)
# kor_market.fs_cleansing(standard='005930') # Filter elements of financial statements with the given standard
# kor_market.calculate_indicators() # Calculate investment indicators

Get ticker symbol from [krx] ...

  0%|          | 0/2430 [00:00<?, ?it/s]

Complete!
Get prices/volumes from [naver] ...

100%|██████████| 2430/2430 [30:16<00:00,  1.34it/s]
  0%|          | 0/2427 [00:00<?, ?it/s]

Complete!
Get financial statements from [fnguide] ...

  3%|▎         | 70/2427 [01:18<43:05,  1.10s/it]

No indicator calculated with ticker: 168490

 26%|██▌       | 628/2427 [10:58<20:43,  1.45it/s]

No indicator calculated with ticker: 088980

 26%|██▌       | 635/2427 [11:03<21:04,  1.42it/s]

No indicator calculated with ticker: 096300

 39%|███▊      | 935/2427 [15:24<12:56,  1.92it/s]

No indicator calculated with ticker: 094800

 65%|██████▍   | 1574/2427 [23:57<10:14,  1.39it/s]

No indicator calculated with ticker: 152550

100%|██████████| 2427/2427 [35:42<00:00,  1.13it/s]
  0%|          | 0/2427 [00:00<?, ?it/s]

Complete!
Cleansing financial statements ...

  2%|▏         | 46/2427 [00:12<10:31,  3.77it/s]

Financial statement is not complete: 293940

  3%|▎         | 69/2427 [00:18<10:40,  3.68it/s]

Not exists: 168490

  4%|▎         | 90/2427 [00:23<10:16,  3.79it/s]

Financial statement is not complete: 337450

  5%|▍         | 121/2427 [00:32<10:18,  3.73it/s]

Financial statement is not complete: 021880

  6%|▋         | 155/2427 [00:41<10:03,  3.76it/s]

Financial statement is not complete: 900120

 10%|█         | 248/2427 [01:06<09:45,  3.72it/s]

Financial statement is not complete: 024850

 12%|█▏        | 300/2427 [01:20<09:26,  3.75it/s]

Financial statement is not complete: 018500

 20%|██        | 494/2427 [02:13<08:51,  3.64it/s]

Financial statement is not complete: 099750

 22%|██▏       | 546/2427 [02:27<08:33,  3.67it/s]

Financial statement is not complete: 093380

 24%|██▍       | 582/2427 [02:37<08:20,  3.69it/s]

Financial statement is not complete: 222160

 26%|██▌       | 627/2427 [02:49<08:12,  3.65it/s]

Not exists: 088980

 26%|██▌       | 634/2427 [02:51<07:49,  3.82it/s]

Not exists: 096300

 29%|██▉       | 705/2427 [03:10<07:56,  3.61it/s]

Financial statement is not complete: 950170

 29%|██▉       | 712/2427 [03:12<07:52,  3.63it/s]

Financial statement is not complete: 950110

 31%|███       | 749/2427 [03:22<07:40,  3.64it/s]

Financial statement is not complete: 054180

 32%|███▏      | 773/2427 [03:29<07:34,  3.64it/s]

Financial statement is not complete: 131100

 35%|███▌      | 856/2427 [03:52<07:19,  3.58it/s]

Financial statement is not complete: 190650

 37%|███▋      | 900/2427 [04:05<07:13,  3.52it/s]

Financial statement is not complete: 365550

 38%|███▊      | 921/2427 [04:11<07:01,  3.57it/s]

Financial statement is not complete: 092440

 38%|███▊      | 924/2427 [04:12<07:01,  3.57it/s]

Financial statement is not complete: 008110

 38%|███▊      | 934/2427 [04:15<07:04,  3.52it/s]

Not exists: 094800

 39%|███▉      | 956/2427 [04:21<06:58,  3.51it/s]

Financial statement is not complete: 021820

 40%|███▉      | 961/2427 [04:22<06:55,  3.53it/s]

Financial statement is not complete: 005390

 42%|████▏     | 1014/2427 [04:37<06:43,  3.50it/s]

Financial statement is not complete: 950180

 44%|████▍     | 1076/2427 [04:54<06:17,  3.58it/s]

Financial statement is not complete: 154030

 45%|████▌     | 1104/2427 [05:02<06:06,  3.61it/s]

Financial statement is not complete: 169330

 46%|████▋     | 1128/2427 [05:09<06:05,  3.55it/s]

Financial statement is not complete: 017250

 48%|████▊     | 1177/2427 [05:23<05:57,  3.50it/s]

Financial statement is not complete: 097870

 49%|████▉     | 1191/2427 [05:27<05:50,  3.52it/s]

Financial statement is not complete: 084440

 50%|████▉     | 1206/2427 [05:31<05:43,  3.56it/s]

Financial statement is not complete: 338100

 50%|█████     | 1223/2427 [05:36<05:41,  3.53it/s]

Financial statement is not complete: 001080

 52%|█████▏    | 1250/2427 [05:44<05:32,  3.54it/s]

Financial statement is not complete: 001720

 53%|█████▎    | 1294/2427 [05:56<05:22,  3.51it/s]

Financial statement is not complete: 093240

 54%|█████▍    | 1312/2427 [06:01<05:17,  3.52it/s]

Financial statement is not complete: 289080

 56%|█████▌    | 1352/2427 [06:12<05:06,  3.51it/s]

Financial statement is not complete: 033200

 56%|█████▌    | 1360/2427 [06:15<05:00,  3.55it/s]

Financial statement is not complete: 082920

 59%|█████▉    | 1431/2427 [06:35<04:45,  3.49it/s]

Financial statement is not complete: 160600

 60%|██████    | 1464/2427 [06:45<04:36,  3.48it/s]

Financial statement is not complete: 263750

 63%|██████▎   | 1518/2427 [07:00<04:22,  3.46it/s]

Financial statement is not complete: 008870

 64%|██████▍   | 1549/2427 [07:09<04:14,  3.46it/s]

Financial statement is not complete: 088260

 64%|██████▍   | 1558/2427 [07:12<04:11,  3.46it/s]

Financial statement is not complete: 348950

 65%|██████▍   | 1573/2427 [07:16<04:08,  3.44it/s]

Not exists: 152550

 65%|██████▍   | 1575/2427 [07:16<03:11,  4.46it/s]

Financial statement is not complete: 000970

 66%|██████▌   | 1593/2427 [07:22<04:08,  3.36it/s]

Financial statement is not complete: 060310

 66%|██████▋   | 1610/2427 [07:27<04:04,  3.34it/s]

Financial statement is not complete: 020180

 67%|██████▋   | 1624/2427 [07:31<04:00,  3.35it/s]

Financial statement is not complete: 019570

 68%|██████▊   | 1643/2427 [07:36<03:55,  3.33it/s]

Financial statement is not complete: 042370

 70%|███████   | 1704/2427 [07:55<03:36,  3.34it/s]

Financial statement is not complete: 330350

 73%|███████▎  | 1768/2427 [08:14<03:18,  3.31it/s]

Financial statement is not complete: 185190

 75%|███████▍  | 1818/2427 [08:29<03:04,  3.31it/s]

Financial statement is not complete: 330590

 75%|███████▌  | 1822/2427 [08:30<03:01,  3.33it/s]

Financial statement is not complete: 003610

 76%|███████▌  | 1844/2427 [08:37<02:54,  3.34it/s]

Financial statement is not complete: 002630

 76%|███████▌  | 1850/2427 [08:39<02:54,  3.31it/s]

Financial statement is not complete: 334890

 77%|███████▋  | 1880/2427 [08:48<02:44,  3.32it/s]

Financial statement is not complete: 004310

 80%|███████▉  | 1939/2427 [09:06<02:28,  3.29it/s]

Financial statement is not complete: 018700

 84%|████████▍ | 2038/2427 [09:36<01:58,  3.28it/s]

Financial statement is not complete: 225430

 85%|████████▌ | 2065/2427 [09:45<01:45,  3.44it/s]

Financial statement is not complete: 042520

 85%|████████▌ | 2072/2427 [09:47<01:43,  3.43it/s]

Financial statement is not complete: 178600

 89%|████████▉ | 2158/2427 [10:12<01:18,  3.42it/s]

Financial statement is not complete: 350520

 89%|████████▉ | 2169/2427 [10:15<01:17,  3.34it/s]

Financial statement is not complete: 033250

 90%|█████████ | 2195/2427 [10:24<01:09,  3.35it/s]

Financial statement is not complete: 900290

 93%|█████████▎| 2261/2427 [10:43<00:48,  3.39it/s]

Financial statement is not complete: 054220

 94%|█████████▍| 2278/2427 [10:48<00:44,  3.38it/s]

Financial statement is not complete: 039670

 94%|█████████▍| 2289/2427 [10:52<00:40,  3.38it/s]

Financial statement is not complete: 050860

 95%|█████████▍| 2296/2427 [10:54<00:38,  3.38it/s]

Financial statement is not complete: 030960

 95%|█████████▌| 2314/2427 [10:59<00:33,  3.39it/s]

Financial statement is not complete: 227950

 97%|█████████▋| 2344/2427 [11:08<00:24,  3.39it/s]

Financial statement is not complete: 067010

 98%|█████████▊| 2389/2427 [11:21<00:11,  3.36it/s]

Financial statement is not complete: 189690

100%|██████████| 2427/2427 [11:33<00:00,  3.50it/s]
  0%|          | 0/2427 [00:00<?, ?it/s]

Complete!
Calculate investment indicators ...

  3%|▎         | 69/2427 [00:19<10:22,  3.79it/s]

Error in ticker: 168490

 26%|██▌       | 627/2427 [03:05<10:25,  2.88it/s]

Error in ticker: 088980

 26%|██▌       | 634/2427 [03:07<09:28,  3.16it/s]

Error in ticker: 096300

 38%|███▊      | 934/2427 [04:36<06:59,  3.56it/s]

Error in ticker: 094800

 65%|██████▍   | 1573/2427 [10:46<04:38,  3.06it/s]

Error in ticker: 152550

100%|██████████| 2427/2427 [14:49<00:00,  2.73it/s]

Complete!

In [ ]:
# import pickle
# with open('data/krx/prices.pkl', 'rb') as f:
#     data = pickle.load(f)

In [ ]:
# data.dropna(axis=1)

In [ ]:
# !pip install seaborn

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_p = pd.read_pickle('data/krx/prices.pkl')  #### 가격(종가) data
data_t = pd.read_pickle('data/krx/tickers.pkl') #### 기업 정보 data
data_v = pd.read_pickle('data/krx/volumes.pkl') #### 거래량 data
data_i = pd.read_pickle('data/krx/indicators.pkl') #### 지표 data
data_f = pd.read_pickle('data/krx/fss.pkl')  #### 재무제표 data

In [3]:
data_p = data_p.dropna(axis = 1) #### na 제거
data_p.head()
data_p.columns

Index(['001250', '001390', '011070', '066570', '010060', '100840', '064960',
       '096770', '011810', '024070',
       ...
       '039740', '052600', '092460', '045100', '066110', '008800', '060560',
       'KOSPI', 'KPI200', 'KOSDAQ'],
      dtype='object', length=1367)

In [4]:
#### 회사명 & 종목코드 추출
tn = data_t.iloc[:,0:2]
print(tn.head(),tn.tail())

         회사명    종목코드
0        DSR  155660
1      GS글로벌  001250
2  HDC현대산업개발  294870
3      KG케미칼  001390
4      LG이노텍  011070            회사명    종목코드
2422        코셋  189350
2423        툴젠  199800
2424  플럼라인생명과학  222670
2425  한국미라클피플사  331660
2426       휴벡셀  212310

In [5]:
pn = pd.DataFrame({"종목코드" :list(data_p.columns)})
pn

        종목코드
0     001250
1     001390
2     011070
3     066570
4     010060
...      ...
1362  008800
1363  060560
1364   KOSPI
1365  KPI200
1366  KOSDAQ

[1367 rows x 1 columns]

In [6]:
#### data_p의 col 순서에 맞는 종목코드와 해당하는 종목명 매칭
pn = pd.DataFrame({"종목코드" :list(data_p.columns)})
pc_n = tn.merge(pn)
# pc_n_1 = pn.merge(tn)
pc_n.head()

     회사명    종목코드
0  GS글로벌  001250
1  KG케미칼  001390
2  LG이노텍  011070
3   LG전자  066570
4    OCI  010060

In [7]:
#### 원래 가장 끝에 있던 3개는 종목명에 없어서 따로 추가
lp = list(pc_n['회사명'])
lp.append('KOSPI')
lp.append('KPI200')
lp.append('KOSDAQ')
lp[-5:]

['행남사', '홈센타홀딩스', 'KOSPI', 'KPI200', 'KOSDAQ']

In [8]:
##### data_p의 col name 변경
data_p.columns = lp
data_p.head()

,GS글로벌,KG케미칼,LG이노텍,LG전자,OCI,S&TC,S&T모티브,SK이노베이션,STX,WISCOM,...,한국정보공학,한네트,한라IMS,한양이엔지,한프,행남사,홈센타홀딩스,KOSPI,KPI200,KOSDAQ
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,12831.0,10450.0,96778.0,123136.0,215000.0,33118.0,29100.0,117000.0,1439553.0,3947.0,...,2435.0,2450.0,6570.0,7109.0,3564.0,3848.0,1949.0,1696.14,223.49,528.09
2010-01-05,12831.0,10550.0,106078.0,122648.0,213500.0,31320.0,29500.0,121500.0,1435191.0,3942.0,...,2545.0,2420.0,6670.0,7081.0,3564.0,3842.0,1884.0,1690.62,222.84,533.09
2010-01-06,13476.0,10500.0,107531.0,121670.0,216500.0,32124.0,29400.0,122000.0,1487538.0,3952.0,...,2520.0,2440.0,7300.0,7194.0,3564.0,3842.0,1887.0,1705.32,224.67,539.12
2010-01-07,13651.0,10750.0,101234.0,112386.0,218500.0,32076.0,28600.0,121500.0,1596595.0,3982.0,...,2510.0,2435.0,7700.0,7858.0,3503.0,3875.0,1855.0,1683.45,221.31,535.52
2010-01-08,14355.0,10800.0,104141.0,108477.0,227000.0,32549.0,29150.0,122500.0,1596595.0,3972.0,...,2510.0,2475.0,7810.0,8199.0,3533.0,3895.0,1819.0,1695.26,222.66,538.96

In [9]:
data_p_cr = (data_p.pct_change() + 1).prod() #### 전체기간 누적 수익률

In [10]:
data_p_cr = data_p_cr.sort_values(ascending=False) ### 누적 수익률 내림차순 정렬
data_p_cr

F&F           44.660194
신풍제약          43.602318
NHN한국사이버결제    31.104034
포스코케미칼        29.239766
삼천당제약         22.546973
                ...
남광토건           0.005164
현진소재           0.003952
STX            0.003835
릭스솔루션          0.003761
STX중공업         0.000648
Length: 1367, dtype: float64

In [15]:
# %cd /Users/qook/R

/Users/qook/R

In [17]:
data_s = pd.read_csv('data/KOR_sector.csv') #### sector 정보 data

In [18]:
data_s = data_s.iloc[:,[2,4,5,]]

In [19]:
data_s.head()

     IDX_NM_KOR  CMP_CD CMP_KOR
0  WICS 경기관련소비재    5380     현대차
1  WICS 경기관련소비재     270     기아차
2  WICS 경기관련소비재   12330   현대모비스
3  WICS 경기관련소비재   51900  LG생활건강
4  WICS 경기관련소비재   90430  아모레퍼시픽

In [20]:
data_s["IDX_NM_KOR"] = data_s["IDX_NM_KOR"].str.split(expand=True)[1] #### 섹터명만 추출

In [21]:
data_s["CMP_CD"] = data_s["CMP_CD"].astype(str).str.pad(width=6, side = 'left', fillchar='0')  #### 종목코드 맞춰주기

In [22]:
data_s.columns = ['섹터','종목코드','회사명'] #### column 이름 통일화

In [23]:
pc_n.head()

     회사명    종목코드
0  GS글로벌  001250
1  KG케미칼  001390
2  LG이노텍  011070
3   LG전자  066570
4    OCI  010060

In [24]:
data_s.head()

        섹터    종목코드     회사명
0  경기관련소비재  005380     현대차
1  경기관련소비재  000270     기아차
2  경기관련소비재  012330   현대모비스
3  경기관련소비재  051900  LG생활건강
4  경기관련소비재  090430  아모레퍼시픽

In [25]:
pcs_n = pc_n.merge(data_s)  #### 섹터, 종목코드, 회사명 합치기

In [26]:
# data_s.merge(pc_n) #### 이렇게 합치면 안되네?? 위에서는 상관없던데... 위에서는 같은 곳에서 긁어온거라서 우연히 순서가 겹쳤던건가..?

In [27]:
pcs_n.head()

     회사명    종목코드   섹터
0  GS글로벌  001250  산업재
1  KG케미칼  001390   소재
2  LG이노텍  011070   IT
3   LG전자  066570   IT
4    OCI  010060   소재

In [28]:
data_p_cr_d = pd.DataFrame({'회사명': list(data_p_cr.index), 
                            '누적수익률' : list(data_p_cr.values)}) #### 기존의 누적수익률 series를 df로 변경

In [29]:
rank_data = data_p_cr_d.merge(pcs_n) #### 누적수익률 데이터를 섹터, 종목명, 종목코드와 합치기

In [30]:
rank_30_data = rank_data.iloc[:30,:] #### 누적수익률 상위 30개 종목

In [31]:
rank_30_group = rank_30_data.groupby('섹터') #### 누적수익률 상위 30개 종목 섹터로 그룹화

In [32]:
rank_30_group.count()

         회사명  누적수익률  종목코드
섹터
IT        10     10    10
건강관리       7      7     7
경기관련소비재    3      3     3
금융         1      1     1
산업재        3      3     3
소재         5      5     5
필수소비재      1      1     1

In [33]:
rank_data.dtypes

회사명       object
누적수익률    float64
종목코드      object
섹터        object
dtype: object

In [34]:
rank_data_group = rank_data.groupby('섹터') #### 전체 data를 섹터로 그룹화

In [67]:
# r_i = list(rank_data_group.apply(lambda x: (x.iloc[:,1] -x.iloc[:,1].mean())/x.iloc[:,1].std()).index) # 멀티인덱스 시리즈

In [37]:
# rank_data.pivot_table(values='누적수익률', index=['섹터','회사명'], aggfunc = 'count')

              누적수익률
섹터    회사명
IT    APS홀딩스      1
      CS          1
      DB          1
      DB하이텍       1
      DMS         1
...             ...
필수소비재 한국가구        1
      한성기업        1
      한일사료        1
      한탑          1
      현대그린푸드      1

[1238 rows x 1 columns]

In [72]:
data_i

,155660,001250,294870,001390,011070,066570,037560,010060,100840,064960,...,238170,216280,122830,344860,299480,189350,199800,222670,331660,212310
PER,9.563218,NaN,4.317352,3.650491,47.773779,755.498694,NaN,NaN,7.991015,357.048237,...,13.503545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PBR,0.535737,0.484470,0.800326,0.259553,2.216846,1.439693,0.362689,1.083376,0.505554,1.164288,...,0.865612,27.527733,2.935548,0.906750,2.978699,1.138739,28.133496,NaN,4.694186,5.766157
PCR,6.028986,5.543684,NaN,2.391358,6.355341,6.409820,1.377898,NaN,NaN,8.629565,...,3.821758,NaN,19.814951,5.440500,NaN,25.280000,NaN,NaN,NaN,NaN
PSR,0.352095,0.047321,0.423595,0.169606,0.612792,0.379531,0.310219,1.116895,0.580688,0.877718,...,0.386552,1.407668,3.602718,0.388607,3.574439,1.080342,685.434273,NaN,0.885307,4.051894

In [75]:
i_n = pd.DataFrame({"종목코드" :list(data_i.columns)})
i_n

        종목코드
0     155660
1     001250
2     294870
3     001390
4     011070
...      ...
2417  189350
2418  199800
2419  222670
2420  331660
2421  212310

[2422 rows x 1 columns]

In [79]:
tn = data_t.iloc[:,0:2]
tn.head()
tn.shape

(2427, 2)

In [82]:
i_nn = i_n.merge(tn)

In [83]:
data_i.columns = list(i_nn['회사명'])

In [87]:
data_i #### 각 회사별 indicator

,DSR,GS글로벌,HDC현대산업개발,KG케미칼,LG이노텍,LG전자,LG헬로비전,OCI,S&TC,S&T모티브,...,엔에스엠,원텍,원포유,이노진,지앤이헬스케어,코셋,툴젠,플럼라인생명과학,한국미라클피플사,휴벡셀
PER,9.563218,NaN,4.317352,3.650491,47.773779,755.498694,NaN,NaN,7.991015,357.048237,...,13.503545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PBR,0.535737,0.484470,0.800326,0.259553,2.216846,1.439693,0.362689,1.083376,0.505554,1.164288,...,0.865612,27.527733,2.935548,0.906750,2.978699,1.138739,28.133496,NaN,4.694186,5.766157
PCR,6.028986,5.543684,NaN,2.391358,6.355341,6.409820,1.377898,NaN,NaN,8.629565,...,3.821758,NaN,19.814951,5.440500,NaN,25.280000,NaN,NaN,NaN,NaN
PSR,0.352095,0.047321,0.423595,0.169606,0.612792,0.379531,0.310219,1.116895,0.580688,0.877718,...,0.386552,1.407668,3.602718,0.388607,3.574439,1.080342,685.434273,NaN,0.885307,4.051894

In [154]:
sales_profit = data_f['매출총이익'] / data_f['자산']
sales_profit = sales_profit.T
sales_profit

,155660,001250,294870,001390,011070,066570,037560,010060,100840,064960,...,238170,216280,122830,344860,299480,189350,199800,222670,331660,212310
2017/12,0.148927,0.100150,NaN,0.217532,0.150523,0.355612,0.552510,0.082020,0.126540,0.142950,...,0.090717,0.690141,NaN,NaN,0.500000,0.162037,0.190789,NaN,NaN,0.304636
2018/12,0.122667,0.103817,0.092302,0.264285,0.150084,0.340211,0.547806,0.064634,0.074021,0.093272,...,0.109914,0.527083,0.181034,NaN,0.459184,0.096045,0.020672,NaN,0.959459,0.237805
2019/12,0.122712,0.122801,0.170900,0.115838,0.180547,0.341855,0.570838,0.008314,0.106918,0.147560,...,0.156522,0.242820,0.110345,0.931818,0.155963,0.054983,0.023411,NaN,0.693182,-0.000000

In [155]:
#### 이름 변경 방법은 계속해서 쓰임!
sp_n = pd.DataFrame({"종목코드" :list(sales_profit.columns)})
sp_nn = sp_n.merge(tn)
sales_profit.columns = list(sp_nn['회사명'])

In [156]:
sales_profit #### 회사별 매출총이익 / 자산

,DSR,GS글로벌,HDC현대산업개발,KG케미칼,LG이노텍,LG전자,LG헬로비전,OCI,S&TC,S&T모티브,...,엔에스엠,원텍,원포유,이노진,지앤이헬스케어,코셋,툴젠,플럼라인생명과학,한국미라클피플사,휴벡셀
2017/12,0.148927,0.100150,NaN,0.217532,0.150523,0.355612,0.552510,0.082020,0.126540,0.142950,...,0.090717,0.690141,NaN,NaN,0.500000,0.162037,0.190789,NaN,NaN,0.304636
2018/12,0.122667,0.103817,0.092302,0.264285,0.150084,0.340211,0.547806,0.064634,0.074021,0.093272,...,0.109914,0.527083,0.181034,NaN,0.459184,0.096045,0.020672,NaN,0.959459,0.237805
2019/12,0.122712,0.122801,0.170900,0.115838,0.180547,0.341855,0.570838,0.008314,0.106918,0.147560,...,0.156522,0.242820,0.110345,0.931818,0.155963,0.054983,0.023411,NaN,0.693182,-0.000000

In [157]:
s_p_2017 = pd.DataFrame({"sales_profit" : sales_profit.iloc[0,:], "pbr" : data_i.iloc[1,:]}) #### 2017년 & pbr 데이터프레임

In [158]:
s_p_2017.corr() #### pearson corr

              sales_profit       pbr
sales_profit      1.000000  0.018431
pbr               0.018431  1.000000

In [162]:
s_p_2017.corr(method = 'spearman') #### spearman corr

              sales_profit       pbr
sales_profit      1.000000  0.202503
pbr               0.202503  1.000000

In [159]:
s_p_2018 = pd.DataFrame({"sales_profit" : sales_profit.iloc[1,:], "pbr" : data_i.iloc[1,:]}) #### 2018년 & pbr
s_p_2019 = pd.DataFrame({"sales_profit" : sales_profit.iloc[2,:], "pbr" : data_i.iloc[1,:]}) #### 2019년 & pbr

In [160]:
s_p_2018.corr()

              sales_profit      pbr
sales_profit       1.00000 -0.00144
pbr               -0.00144  1.00000

In [163]:
s_p_2018.corr(method = 'spearman')

              sales_profit       pbr
sales_profit      1.000000  0.187434
pbr               0.187434  1.000000

In [164]:
s_p_2019.corr(method = 'spearman')

              sales_profit       pbr
sales_profit      1.000000  0.195118
pbr               0.195118  1.000000

In [166]:
data_f.keys()

dict_keys(['매출액', '매출원가', '매출총이익', '판매비와관리비', '인건비', '유무형자산상각비', '연구개발비', '광고선전비', '판매비', '관리비', '기타원가성비용', '기타', '영업이익', '영업이익(발표기준)', '금융수익', '이자수익', '배당금수익', '외환이익', '대손충당금환입액', '매출채권처분이익', '당기손익-공정가치측정\xa0금융자산관련이익', '금융자산처분이익', '금융자산평가이익', '금융자산손상차손환입', '파생상품이익', '기타금융수익', '금융원가', '이자비용', '외환손실', '대손상각비', '당기손익-공정가치측정\xa0금융자산관련손실', '매출채권처분손실', '금융자산처분손실', '금융자산평가손실', '금융자산손상차손', '파생상품손실', '기타금융원가', '기타수익', '재고자산감모손실환입', '재고자산폐기(처분)이익', '당기손익-공정가치측정\xa0금융자산평가이익', '자산처분(폐기)이익', '자산평가이익', '자산손상차손환입', '임대료수익', '로열티수익', '수수료수익', '대손충당금환입', '충당부채환입액', '기타비용', '재고자산감모손실', '재고자산폐기(처분)손실', '당기손익-공정가치측정\xa0금융자산평가손실', '자산처분(폐기)손실', '자산평가손실', '자산손상차손', '기타대손상각비', '충당부채전입액', '종속기업,공동지배기업및관계기업관련손익', '지분법손익', '종속기업,공동지배기업및관계기업투자주식처분손익', '종속기업,공동지배기업및관계기업투자주식손상관련손익', '세전계속사업이익', '법인세비용', '계속영업이익', '중단영업이익', '당기순이익', '지배주주순이익', '비지배주주순이익', '자산', '유동자산', '재고자산', '유동생물자산', '유동금융자산', '매출채권및기타유동채권', '당기법인세자산', '계약자산', '반품(환불)자산', '배출권', '기타유동자산', '현금및현금성자산', '매각예정비유동자산및처분자산집단', '비유동자산', '유형자산', '무형자산', '비유동생물자산', '투자부동산', '장기금융자산', '관계기업등지분관련투자자산', '장기매출채권및기타비유동채권', '이연법인세자산', '장기당기법인세자산', '기타비유동자산', '기타금융업자산', '부채', '유동부채', '단기사채', '단기차입금', '유동성장기부채', '유동금융부채', '매입채무및기타유동채무', '유동종업원급여충당부채', '기타단기충당부채', '당기법인세부채', '계약부채', '반품(환불)부채', '배출부채', '기타유동부채', '매각예정으로분류된처분자산집단에포함된부채', '비유동부채', '사채', '장기차입금', '비유동금융부채', '장기매입채무및기타비유동채무', '비유동종업원급여충당부채', '기타장기충당부채', '이연법인세부채', '장기당기법인세부채', '기타비유동부채', '기타금융업부채', '자본', '지배기업주주지분', '자본금', '신종자본증권', '자본잉여금', '기타자본', '기타포괄손익누계액', '이익잉여금(결손금)', '비지배주주지분', '영업활동으로인한현금흐름', '당기순손익', '법인세비용차감전계속사업이익', '현금유출이없는비용등가산', '퇴직급여', '종업원급여', '주식보상비', '감가상각비', '무형자산상각비', '계약부채전입액', '반품(환불)부채전입액', '배출부채전입액', '기타의대손상각비', '배당금지급', '금융부채관련손실', '사채상환손실', '투자자산평가손실', '자산재평가손실', '지분법관련손실', '종속기업관련손실', '관계기업관련손익', '(현금유입이없는수익등차감)', '금융부채관련이익', '사채상환이익', '퇴직급여충당부채환입액', '계약부채환입액', '반품(환불)부채환입액', '배출부채환입액', '주식보상비환입', '투자자산평가이익', '자산재평가이익', '지분법관련이익', '종속회사관련이익', '법인세수익', '영업활동으로인한자산부채변동(운전자본변동)', '자산의감소(증가)', '부채의증가(감소)', '정부보조금등의변동', '기타운전자본의변동', '*영업에서창출된현금흐름', '기타영업활동으로인한현금흐름', '이자수입', '이자지급(-)', '배당금수입', '배당금지급(-)', '법인세환입', '법인세납부(-)', '중단영업관련현금흐름', '투자활동으로인한현금흐름', '투자활동으로인한현금유입액', '유동금융자산의감소', '장기금융상품의감소', '매도가능금융자산의감소', '만기보유금융자산의감소', '장기대여금의감소', '파생상품의변동', '기타비유동금융자산의감소', '관계기업등지분관련투자자산의감소', '유형자산의감소', '무형자산의감소', '생물자산의감소', '투자부동산의감소', '기타투자활동으로인한현금유입액', '(투자활동으로인한현금유출액)', '유동금융자산의증가', '장기금융상품의증가', '매도가능금융자산의증가', '만기보유금융자산의증가', '장기대여금의증가', '기타비유동금융자산의증가', '관계기업등지분관련투자자산의증가', '유형자산의증가', '무형자산의증가', '생물자산의증가', '투자부동산의증가', '기타투자활동으로인한현금유출액', '기타투자활동으로인한현금흐름', '재무활동으로인한현금흐름', '재무활동으로인한현금유입액', '사채의증가', '차입금의증가', '미지급금의증가', '유동성장기부채의증가', '기타금융부채의증가', '기타부채의증가', '유상증자', '자기주식의처분', '주식매입선택권의행사', '자본구성항목의증가', '기타재무활동으로인한현금유입액', '(재무활동으로인한현금유출액)', '사채의감소', '차입금의감소', '미지급금의감소', '유동성장기부채의감소', '기타금융부채의감소', '기타부채의감소', '유상감자', '자기주식의취득', '자본구성항목의감소', '기타재무활동으로인한현금유출액', '기타재무활동으로인한현금흐름', '영업투자재무활동기타현금흐름', '연결범위변동으로인한현금의증가', '환율변동효과', '현금및현금성자산의증가', '기초현금및현금성자산', '기말현금및현금성자산'])

In [210]:
sh_profit = data_f['지배주주순이익']
sh_profit = sh_profit.T
tax = data_f['법인세비용']
tax = tax.T
interest = data_f['이자비용']
interest = interest.T

ebit = sh_profit + tax + interest

ebit_n = pd.DataFrame({"종목코드" :list(ebit.columns)})
ebit_nn = ebit_n.merge(tn)
ebit.columns = list(ebit_nn['회사명'])

ebit

,DSR,GS글로벌,HDC현대산업개발,KG케미칼,LG이노텍,LG전자,LG헬로비전,OCI,S&TC,S&T모티브,...,엔에스엠,원텍,원포유,이노진,지앤이헬스케어,코셋,툴젠,플럼라인생명과학,한국미라클피플사,휴벡셀
2017/12,147.0,393.0,NaN,245.0,2720.0,27817.0,602.0,3452.0,NaN,700.0,...,-33.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018/12,111.0,498.0,3382.0,349.0,2383.0,21904.0,696.0,1979.0,NaN,750.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019/12,130.0,121.0,5761.0,1802.0,2490.0,7872.0,-714.0,-9457.0,201.0,262.0,...,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [237]:
per = data_i.iloc[0,:]
earning = data_f['매출액']
earning = earning.T

earning_n = pd.DataFrame({"종목코드" :list(earning.columns)})
earning_nn = earning_n.merge(tn)
earning.columns = list(earning_nn['회사명'])
earning.index

Index(['2017/12', '2018/12', '2019/12'], dtype='object')

In [238]:
per = pd.DataFrame(data_i.iloc[0,:])
per = per.T
per

,DSR,GS글로벌,HDC현대산업개발,KG케미칼,LG이노텍,LG전자,LG헬로비전,OCI,S&TC,S&T모티브,...,엔에스엠,원텍,원포유,이노진,지앤이헬스케어,코셋,툴젠,플럼라인생명과학,한국미라클피플사,휴벡셀
PER,9.563218,NaN,4.317352,3.650491,47.773779,755.498694,NaN,NaN,7.991015,357.048237,...,13.503545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [242]:
market_total_2017 = earning.iloc[0,:] * per.iloc[0,:]
market_total_2018 = earning.iloc[1,:] * per.iloc[0,:]
market_total_2019 = earning.iloc[2,:] * per.iloc[0,:]
market_total = pd.DataFrame([market_total_2017,market_total_2018, market_total_2019])
market_total.index = list(earning.index)
market_total

,DSR,GS글로벌,HDC현대산업개발,KG케미칼,LG이노텍,LG전자,LG헬로비전,OCI,S&TC,S&T모티브,...,엔에스엠,원텍,원포유,이노진,지앤이헬스케어,코셋,툴젠,플럼라인생명과학,한국미라클피플사,휴벡셀
2017/12,21651.126437,NaN,NaN,40137.153545,3.650586e+06,4.638482e+08,NaN,NaN,14711.458496,4.061424e+06,...,8183.148028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018/12,22569.195402,NaN,120570.697445,46828.504381,3.813351e+06,4.634357e+08,NaN,NaN,11147.465835,3.280916e+06,...,6711.261666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019/12,22597.885057,NaN,182041.159372,75506.765250,3.810150e+06,4.707225e+08,NaN,NaN,17044.834857,3.485862e+06,...,7075.857370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [243]:
liability = data_f['부채']
liability = liability.T

liability_n = pd.DataFrame({"종목코드" :list(liability.columns)})
liability_nn = liability_n.merge(tn)
liability.columns = list(liability_nn['회사명'])

current_l = data_f['유동부채'] + data_f['기타유동부채']
current_l = current_l.T
current_a = data_f['유동자산'] + data_f['기타유동자산']
current_a = current_a.T
money = data_f['현금및현금성자산']
money = money.T      #### 원래 마법공식을 위해서는 현금이 필요한데 현금이 없으므로 현금및현금성자산-유동부채+유동자산 으로 대체하자

total_c = current_l - current_a
total_c[total_c < 0] = 0 #### 유동부채 - 유동자산이 0보다 작으면 모두 0으로 바꿈

total_money = money - total_c

total_money_n = pd.DataFrame({"종목코드" :list(total_money.columns)})
total_money_nn = total_money_n.merge(tn)
total_money.columns = list(total_money_nn['회사명'])

total_money
liability

,DSR,GS글로벌,HDC현대산업개발,KG케미칼,LG이노텍,LG전자,LG헬로비전,OCI,S&TC,S&T모티브,...,엔에스엠,원텍,원포유,이노진,지앤이헬스케어,코셋,툴젠,플럼라인생명과학,한국미라클피플사,휴벡셀
2017/12,874.0,10102.0,NaN,9029.0,39267.0,265473.0,8810.0,26621.0,664.0,3975.0,...,407.0,182.0,NaN,NaN,41.0,97.0,22.0,11.0,NaN,99.0
2018/12,776.0,9329.0,30190.0,9044.0,36378.0,280215.0,8843.0,21670.0,497.0,3717.0,...,246.0,334.0,86.0,NaN,22.0,83.0,18.0,26.0,89.0,118.0
2019/12,851.0,8253.0,21778.0,28000.0,35662.0,284347.0,8394.0,21255.0,889.0,3029.0,...,225.0,365.0,91.0,21.0,49.0,180.0,31.0,70.0,133.0,51.0

In [248]:
denominator = market_total + total_money + liability
denominator

,DSR,GS글로벌,HDC현대산업개발,KG케미칼,LG이노텍,LG전자,LG헬로비전,OCI,S&TC,S&T모티브,...,엔에스엠,원텍,원포유,이노진,지앤이헬스케어,코셋,툴젠,플럼라인생명과학,한국미라클피플사,휴벡셀
2017/12,22566.126437,NaN,NaN,50857.153545,3.693548e+06,4.641472e+08,NaN,NaN,15947.458496,4.067663e+06,...,8503.148028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018/12,23365.195402,NaN,159708.697445,57679.504381,3.855941e+06,4.637587e+08,NaN,NaN,12240.465835,NaN,...,6998.261666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019/12,23541.885057,NaN,207430.159372,106779.765250,3.853808e+06,4.710546e+08,NaN,NaN,18143.834857,NaN,...,7360.857370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [246]:
interest_earning_ratio = ebit / denominator

In [247]:
interest_earning_ratio #### 이익수익률

,DSR,GS글로벌,HDC현대산업개발,KG케미칼,LG이노텍,LG전자,LG헬로비전,OCI,S&TC,S&T모티브,...,엔에스엠,원텍,원포유,이노진,지앤이헬스케어,코셋,툴젠,플럼라인생명과학,한국미라클피플사,휴벡셀
2017/12,0.006514,NaN,NaN,0.004817,0.000736,0.000060,NaN,NaN,NaN,0.000172,...,-0.003881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018/12,0.004751,NaN,0.021176,0.006051,0.000618,0.000047,NaN,NaN,NaN,NaN,...,0.000143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019/12,0.005522,NaN,0.027773,0.016876,0.000646,0.000017,NaN,NaN,0.011078,NaN,...,0.003396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [249]:
total_c #### 유동부채 - 유동자산

0.006514224940175485

In [255]:
current_d = data_f['감가상각비']
current_d = current_d.T
current_na = data_f['비유동자산'] + data_f['기타비유동자산']
current_na = current_na.T

total_d = current_na - current_d #### 비유동자산 - 감가상각비

total_denominator = total_c + total_d  #### 유동부채 - 유동자산 + 비유동자산 - 감가상각비


total_denominator_n = pd.DataFrame({"종목코드" :list(total_denominator.columns)})
total_denominator_nn = total_denominator_n.merge(tn)
total_denominator.columns = list(total_denominator_nn['회사명'])

total_denominator

,DSR,GS글로벌,HDC현대산업개발,KG케미칼,LG이노텍,LG전자,LG헬로비전,OCI,S&TC,S&T모티브,...,엔에스엠,원텍,원포유,이노진,지앤이헬스케어,코셋,툴젠,플럼라인생명과학,한국미라클피플사,휴벡셀
2017/12,1100.0,5861.0,NaN,7672.0,29209.0,214044.0,14563.0,36862.0,NaN,4928.0,...,294.0,86.0,NaN,NaN,NaN,NaN,66.0,NaN,NaN,NaN
2018/12,1040.0,5179.0,10155.0,8386.0,31434.0,241701.0,14702.0,33494.0,NaN,NaN,...,173.0,121.0,NaN,NaN,NaN,NaN,71.0,NaN,NaN,NaN
2019/12,1149.0,4648.0,13795.0,27709.0,27850.0,239558.0,16299.0,23491.0,1281.0,NaN,...,131.0,192.0,NaN,21.0,NaN,NaN,78.0,NaN,NaN,NaN

In [256]:
capital_ratio = ebit / total_denominator

In [257]:
capital_ratio  #### 투하자본 수익률

,DSR,GS글로벌,HDC현대산업개발,KG케미칼,LG이노텍,LG전자,LG헬로비전,OCI,S&TC,S&T모티브,...,엔에스엠,원텍,원포유,이노진,지앤이헬스케어,코셋,툴젠,플럼라인생명과학,한국미라클피플사,휴벡셀
2017/12,0.133636,0.067053,NaN,0.031934,0.093122,0.129959,0.041338,0.093647,NaN,0.142045,...,-0.112245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018/12,0.106731,0.096158,0.333038,0.041617,0.075810,0.090624,0.047340,0.059085,NaN,NaN,...,0.005780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019/12,0.113142,0.026033,0.417615,0.065033,0.089408,0.032861,-0.043806,-0.402580,0.156909,NaN,...,0.190840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN